In [1]:
3+4

7

In [2]:
# Program

loan_amount=2000
Interest_rate=0.015
tenure=5

loan_amount * tenure

10000

In [3]:
# Create a string
movie = "Terminator"

"Terminator"

In [7]:
t1="What is the movie name?"
movie = " Terminator"
t1*movie

"What is the movie name? Terminator"

In [8]:
# Find type 
typeof(t1)

String

In [9]:
typeof(loan_amount)

Int64

In [11]:
typeof(Interest_rate)

Float64

In [12]:
# Arithmetic Operator Precedents
2+5-6/2*3

-2.0

In [13]:
(2+5)-(6/2)*3

-2.0

In [16]:
loan amount=2000
#cannot give spaces in variable names

LoadError: syntax: extra token "amount" after end of expression

In [17]:
# Arrays
a=[1,2,3,4,5]

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [18]:
b = [1,2,3.5,4,5]

5-element Vector{Float64}:
 1.0
 2.0
 3.5
 4.0
 5.0

In [19]:
s1 = ["Hi,","How","are","you?"]

4-element Vector{String}:
 "Hi,"
 "How"
 "are"
 "you?"

In [20]:
c=[1,3.5,"You"]

3-element Vector{Any}:
 1
 3.5
  "You"

In [21]:
# Convert values 
type_float=Float64[2,4,5,7]

4-element Vector{Float64}:
 2.0
 4.0
 5.0
 7.0

In [24]:
type_int=Int64[2.0,4.0,5.0,7.0]

4-element Vector{Int64}:
 2
 4
 5
 7

In [48]:
# Matrices - 2D Arrays
array=[1 2 3 4 ; 5 6 7 8 ]

2×4 Matrix{Int64}:
 1  2  3  4
 5  6  7  8

In [54]:
reshape(array1,4,2)

4×2 Matrix{Int64}:
 1  2
 3  4
 5  6
 7  8

In [52]:
array1=[1 2; 3 4; 5 6; 7 8]

4×2 Matrix{Int64}:
 1  2
 3  4
 5  6
 7  8

In [26]:
vector=[1234]

1-element Vector{Int64}:
 1234

In [28]:
array_rand = rand(3)

3-element Vector{Float64}:
 0.47494101978968417
 0.8459280118454939
 0.5997689044302235

In [29]:
array_rand = rand(3,3)

3×3 Matrix{Float64}:
 0.0256231  0.357608  0.706621
 0.310062   0.805665  0.0773174
 0.555384   0.683527  0.219602

In [55]:
[1 2 3]

1×3 Matrix{Int64}:
 1  2  3