In [ ]:
# date and time
#using Pkg
#Pkg.add("Dates")

In [1]:
using Dates

In [2]:
now()

2021-09-20T16:08:24.880

In [3]:
today()

2021-09-20

In [4]:
# define a date
birthdate=Date(1990,12,02)

1990-12-02

In [6]:
c = DateTime(1990,12,02,10,15,45)

1990-12-02T10:15:45

In [7]:
c

1990-12-02T10:15:45

In [9]:
# universal time cordinate(UTC)
now(UTC)

2021-09-20T10:41:37.930

In [10]:
year(c)

1990

In [11]:
year(birthdate)

1990

In [12]:
month(c)

12

In [13]:
day(c)

2

In [15]:
hour(c)

10

In [16]:
dayname(birthdate)

"Sunday"

In [17]:
daysinmonth(birthdate)

31

In [18]:
today()-birthdate
# both should be in same units

11250 days

In [19]:
date_format = DateFormat("dd-mm-yyyy")
Dates.format(birthdate,date_format)

"02-12-1990"

In [20]:
# to give multiple commands use =#
# Date.Time deals with time
# Date.Date deals with date
# Date.DateTime deals with date and time

In [21]:
# Conditional Statements
a = 25
a>25 ? "Yes" : "No"

"No"

In [22]:
b = 50
# using logical operators
# or -> ||
# and -> && =#
a>=25||b<50

true

In [23]:
a>25||b<50

false

In [24]:
a>=25 && b<50

false

In [25]:
a>=25 && b==50

true

In [26]:
# using if condition
a=25
if a>25
    print("a is greater than 25")
elseif a<25
    print("a is less than 25")
else
    print("a is equal to 25")
end

a is equal to 25

In [28]:
Country = "India"
if Country == "India"
    print("Yes")
else
    print("No")
end

Yes

In [29]:
Country = "India"
if Country == "USA"
    print("Yes")
else
    print("No")
end

No

In [30]:
# using for loops
for sports_brands in ["Adidas","Nike","Puma"]
    print(sports_brands, " ")
end

Adidas Nike Puma

In [31]:
# using for loops
for sports_brands in ["Adidas","Nike","Puma"]
    println(sports_brands, " ")
end

Adidas
Nike
Puma

In [32]:
# for loop with tuples
for t in (1,2,3,4,5)
    print(t)
end

12345

In [33]:
# for loop with tuples
for t in (1,2,3,4,5)
    print(t, ",")
end

1,2,3,4,5,

In [34]:
# for loop with dictionaries
for d in Dict(:car1=>1000, :car2=>2000)
    print(d, " ")
end

:car2 => 2000 :car1 => 1000

In [36]:
d1 = Dict(:car1=>1000, :car2=>2000)
for d in d1
    println(d, " ")
end

:car2 => 2000
:car1 => 1000

In [39]:
# for loop using sets
for S in Set([10,20,30,40,50])
    print(S, " ")
end

50 20 10 30 40

In [1]:
for range in 1:5 
    @show range 
end
# @show is a macrokeyword to show

range = 1
range = 2
range = 3
range = 4
range = 5

In [3]:
for x in 1:10
    if x%2 == 0
        print(x, ' ')
    end
end

2 4 6 8 10

In [4]:
for i in 1:10
    j = i*10
    println("$(j) is multiplication between $(i) and 10")
end
# $ symbol has to be used to get variable

10 is multiplication between 1 and 10
20 is multiplication between 2 and 10
30 is multiplication between 3 and 10
40 is multiplication between 4 and 10
50 is multiplication between 5 and 10
60 is multiplication between 6 and 10
70 is multiplication between 7 and 10
80 is multiplication between 8 and 10
90 is multiplication between 9 and 10
100 is multiplication between 10 and 10

In [5]:
for i in 1:10
    if i%2==0
        continue
    end
    println(i)
end

1
3
5
7
9

In [6]:
# while loop
a = 1
while a<10
    println(a)
    a+=1
end

1
2
3
4
5
6
7
8
9

In [7]:
# while loop
a = 1
while a<10
    a+=1
    println(a)
end

2
3
4
5
6
7
8
9
10

In [8]:
# Comprehensions
x = [i for i in 1:10]

10-element Vector{Int64}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [9]:
x = [i*3 for i in 1:10]

10-element Vector{Int64}:
  3
  6
  9
 12
 15
 18
 21
 24
 27
 30

In [10]:
x = [i^2 for i in 1:10]

10-element Vector{Int64}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [12]:
c = Set([i for i in 1:10])

Set{Int64} with 10 elements:
  5
  4
  6
  7
  2
  10
  9
  8
  3
  1

In [15]:
alphabet = Dict(string(Char(x+64)) => x for x in 1:26)

Dict{String, Int64} with 26 entries:
  "Z" => 26
  "Q" => 17
  "W" => 23
  "T" => 20
  "C" => 3
  "P" => 16
  "V" => 22
  "L" => 12
  "O" => 15
  "B" => 2
  "M" => 13
  "N" => 14
  "H" => 8
  "A" => 1
  "X" => 24
  "D" => 4
  "G" => 7
  "E" => 5
  "Y" => 25
  "I" => 9
  "J" => 10
  "S" => 19
  "U" => 21
  "K" => 11
  "R" => 18
  "F" => 6

In [18]:
[(x,y) for x in 1:3, y in 1:2]

3×2 Matrix{Tuple{Int64, Int64}}:
 (1, 1)  (1, 2)
 (2, 1)  (2, 2)
 (3, 1)  (3, 2)

In [19]:
# Conditional Comprehension
[x for x in 1:10 if x%2==0]

5-element Vector{Int64}:
  2
  4
  6
  8
 10

In [5]:
# Print Prime no. 1-50
for num in range(1, 50)
    if(num>1)
        for i in range(2,num)
            if(num%i)==0
                print(i)
                break
            else
                break

LoadError: syntax: incomplete: "if" at In[5]:5 requires end