In [1]:
# Ranges
collect(1.5:0.5:5.5)

9-element Vector{Float64}:
 1.5
 2.0
 2.5
 3.0
 3.5
 4.0
 4.5
 5.0
 5.5

In [2]:
collect(1.5:5.5)

5-element Vector{Float64}:
 1.5
 2.5
 3.5
 4.5
 5.5

In [4]:
c1=collect(100:-20:0)

6-element Vector{Int64}:
 100
  80
  60
  40
  20
   0

In [5]:
c1[3]

60

In [6]:
c1[5]

20

In [7]:
c1[end]

0

In [8]:
c1[end-2]

40

In [12]:
c1[2:4]

3-element Vector{Int64}:
 80
 60
 40

In [13]:
c1[[2,4,5]]

3-element Vector{Int64}:
 80
 40
 20

In [14]:
c1[4:end]

3-element Vector{Int64}:
 40
 20
  0

In [15]:
# Tuples
a1 = [4,5,6,7]

4-element Vector{Int64}:
 4
 5
 6
 7

In [16]:
b1=(4,5,6,7,8)

(4, 5, 6, 7, 8)

In [17]:
b1[2] = 10
# we cannot change values inside the tuple once created

LoadError: MethodError: no method matching setindex!(::NTuple{5, Int64}, ::Int64, ::Int64)

In [18]:
b1[1:3]

(4, 5, 6)

In [19]:
b1[2:end]

(5, 6, 7, 8)

In [20]:
# 2D tuple
t = ((1,2),(5,6))

((1, 2), (5, 6))

In [21]:
t[1]

(1, 2)

In [22]:
t[2][2]

6

In [23]:
t[1][2]

2

In [24]:
marks = (science=(90,100), maths=(80,100), english=(70,100))

(science = (90, 100), maths = (80, 100), english = (70, 100))

In [25]:
marks.science

(90, 100)

In [26]:
marks1 = (Telugu=(80,100), Chemistry=(60,100))

(Telugu = (80, 100), Chemistry = (60, 100))

In [27]:
merge(marks,marks1)

(science = (90, 100), maths = (80, 100), english = (70, 100), Telugu = (80, 100), Chemistry = (60, 100))

In [38]:
# Dictionaries
# => means implies
# cars=Dict(:car1 => 100000, :car2 => 200000, :car3 => 300000) can also be used
cars=Dict("car1" => 100000, "car2" => 200000, "car3" => 300000)

Dict{String, Int64} with 3 entries:
  "car3" => 300000
  "car1" => 100000
  "car2" => 200000

In [39]:
cars["car1"]

100000

In [40]:
cars5=Dict(:car1 => 100000, :car2 => 200000, :car3 => 300000)

Dict{Symbol, Int64} with 3 entries:
  :car2 => 200000
  :car3 => 300000
  :car1 => 100000

In [41]:
cars5[:car3]

300000

In [42]:
delete!(cars5,:car2)

Dict{Symbol, Int64} with 2 entries:
  :car3 => 300000
  :car1 => 100000

In [43]:
keys(cars)

KeySet for a Dict{String, Int64} with 3 entries. Keys:
  "car3"
  "car1"
  "car2"

In [44]:
values(cars)

ValueIterator for a Dict{String, Int64} with 3 entries. Values:
  300000
  100000
  200000

In [45]:
merge(cars,cars5)

Dict{Any, Int64} with 5 entries:
  :car1  => 100000
  "car3" => 300000
  :car3  => 300000
  "car1" => 100000
  "car2" => 200000

In [47]:
# sets - does not have duplicate values. That is the diff from sets and dictionaries
sports_brands=Set(["Adidas","Nike","Puma","Reebok"])

Set{String} with 4 elements:
  "Nike"
  "Puma"
  "Reebok"
  "Adidas"

In [48]:
# To check whether a particular brand is present in sports_brands or not
in("HRX",sports_brands)

false

In [51]:
in("Nike",sports_brands)

true

In [52]:
in("nike",sports_brands)
# case sensitive

false

In [53]:
sports_brands_India=Set(["Adidas","Nike","HRX"])

Set{String} with 3 elements:
  "Nike"
  "HRX"
  "Adidas"

In [54]:
union(sports_brands,sports_brands_India)

Set{String} with 5 elements:
  "Nike"
  "Puma"
  "Reebok"
  "HRX"
  "Adidas"

In [55]:
intersect(sports_brands,sports_brands_India)

Set{String} with 2 elements:
  "Nike"
  "Adidas"

In [56]:
setdiff(sports_brands,sports_brands_India)

Set{String} with 2 elements:
  "Puma"
  "Reebok"

In [59]:
push!(sports_brands,"HRX")
# HRX will get added to the set.

Set{String} with 5 elements:
  "Nike"
  "Puma"
  "Reebok"
  "HRX"
  "Adidas"

In [60]:
push!(sports_brands,"Bata")

Set{String} with 6 elements:
  "Nike"
  "Puma"
  "Reebok"
  "Bata"
  "HRX"
  "Adidas"